@keyframes addBoardForm {
  0% {
    opacity: 1;
    clip-path: polygon(100% 0, 100% 56%, 0 56%, 0 0);
  }
  100% {
    right: -62%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.newBoardForm {
  min-width: 272px;
  padding: 4px;
  background: #ebecf0;
  border-radius: 4px;
  animation: addBoardForm 0.2s linear;
}

.newBoardFormInput {
  width: 100%;
  padding: 8px 12px;
  border: 2px solid #0079bf;
  border-radius: 4px;
  outline: unset;
  margin-bottom: 4px;
} 

.newBoardSubmitBtn {
  background: #0079bf;
  color: #fff;
  border: none;
  outline: unset;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 4px;
}

.newBoardSubmitBtn:hover {
  background: #026aa7;
}

.newBoardCancelBtn {
  font-size: 24px;
  border: none;
  outline: unset;
  color: #42526e;
}

.newBoardFormBtns {
  display: flex;
  align-items: center;
}