.boardsWrap {
  display: flex;
  column-gap: 15px;
  align-items: flex-start;
  height: 90vh;
  margin-left: auto;
  overflow-x: scroll;
  padding-top: 50px;
  padding-left: 50px;
}

.boardsWrap::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  padding: 0 25px;
}
.boardsWrap::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.boardsWrap::-webkit-scrollbar-thumb {
  background: #676767;
  border: 100px none #ffffff;
  border-radius: 50px;
}

.boardsWrap::-webkit-scrollbar-corner {
  background: transparent;
}

.boardWrapper {
  min-width: 300px;
  border-radius: 5px;
  padding: 4px  4px  8px 8px;
  display: flex;
  flex-direction: column;
  background: #ebecf0;
  color: #172b4d;
  max-height: 85vh;
  position: relative;
}


.boardWrapper.hold {
  background: #ebecf0;
}
.boardWrapper.hide {
  opacity: 0;
  transform: rotate(15deg);
  /* display: none; */
}

.boardHeader {
  display: flex;
  min-height: 32px;
  align-items: stretch;
}


.boardTitleWrap{
  flex-grow: 1;
  cursor: pointer;
}

.boardTitleFix {
  font-size: 18px;
  line-height: 24px;
  padding: 4px 8px;
  height: 100%;
  text-indent: 0;
}

.boardTitleInput {
  width: 100%;
  height: 28px;
  border: 3px solid #0079bf;
  outline: unset;
  text-indent: 5px;
  border-radius: 5px;
  font-size: 18px;
}

.boardHeaderOptsBtn {
  width: 32px;
  outline: unset;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

.boardHeaderOptsBtn:hover {
  background: #091e4214;
}

.boardOptsHeader {
  position: relative;
  margin-bottom: 6px;
}

.boardOptsHeaderText {
  text-align: center;
  min-width: 216px;
  margin: 0 12px;
  padding: 0 32px;
  font-size: 14px;
  line-height: 40px;
  border-bottom: 1px solid #6b778c;
}

.boardOptsHeaderBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  border: none;
  background: transparent;
  color: #6b778c;
  font-size: 14px;
  outline: unset;
}

.boardOptsHeaderBtn:hover {
  color: #42526e;
}

.boardHeaderOptsWrap {
  background: #fff;
  position: absolute;
  border-radius: 4px;
  top: -35px;
  right: -58%;
  padding-bottom: 12px;
  border-radius: 4px;
  z-index: 10;
  min-width: 280px;
}

.boardOptsBody {
  display: flex;
  flex-direction: column;
}

.boardOptionBtn {
  background: transparent;
  outline: unset;
  border: none;
  padding: 6px 12px;
  text-align-last: left;
  color: #172b4d;
}

.boardOptionBtn:hover {
  background: rgba(9,30,66, .04);
}


/* Board copy form*/



.boardBody {
  position: relative;
  height: 80%;
  overflow-y: auto;
  overflow-x: visible;
}

.boardBody::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.boardBody::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.boardBody::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.boardBody::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.boardBody::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.boardBody::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.boardBody::-webkit-scrollbar-track:hover {
  background: #666666;
}
.boardBody::-webkit-scrollbar-track:active {
  background: #333333;
}
.boardBody::-webkit-scrollbar-corner {
  background: transparent;
}


.boardTask {
  position: relative;
  border-radius: 4px;
  background: #fff;
  margin: 10px 0;
  padding: 6px 8px 2px;
  box-shadow: 0 1px 0 #091e4240;
  min-height: 29px;
}

.boardTaskTitle {
  overflow-wrap: break-word;
  font-size: 14px;
}

.boardTaskEditBtn {
  position: absolute;
  top: 2px;
  height: 24px;
  width: 24px;
  right: 2px;
  color: #42526e;
  display: none;
  border: none;
  outline: unset;
  font-style: 12px;
  border-radius: 2px;
  background: rgba(255,255,255,0.1);
  }

.boardTask:hover {
  background: #f4f5f7;
}

.boardTask:hover .boardTaskEditBtn {
  display: block;
}

.boardTaskEditBtn:hover {
  background: #ebecf0;
}

.newTaskInput {
  width: 100%;
  background: #fff;
  resize: none;
  border: none;
  outline: unset;
  padding: 5px;
  overflow-wrap: break-word;
}
.newTaskInput::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.newTaskInput::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.newTaskInput::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
  cursor: pointer;

}
.newTaskInput::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.newTaskInput::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.newTaskInput::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.newTaskInput::-webkit-scrollbar-track:hover {
  background: #666666;
}
.newTaskInput::-webkit-scrollbar-track:active {
  background: #333333;
}
.newTaskInput::-webkit-scrollbar-corner {
  background: transparent;
}
.newTaskBtnsWrap {
  display: flex;
  align-items: flex-start;
}
.newTaskSubmitBtn {
  padding: 6px 12px;
  border: none;
  outline: unset;
  background: #0079bf;
  color: #fff;
  border-radius: 2px;
}

.newTaskSubmitBtn:hover {
  background: #035686;
}

.newTaskCancelBtn {
  font-size: 24px;
  color: #6b778c;
  margin: 0 auto 0 5px;
  padding: 5px;
  border: none;
  outline: unset;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newTaskCancelBtn:hover {
  color: #172b4d  ;
}
.newTaskSetsBtn {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #6b778c;
  padding: 5px;
  border: none;
  outline: unset;
}

.newTaskSetsBtn:hover {
  color: #172b4d  ;
}
.addTaskinitialWrap {
  display: flex;
}
.addTaskinitializer {
  flex-grow: 1;
  height: 28px;
  font-size: 14px;
  border: none;
  color: #6b778c;
}

.addTaskLayoutBtn {
  width: 28px;
  border: none;
  outline: unset;
  border-radius: 2px;
  color: #6b778c;
}

.addTaskLayoutBtn:hover,.addTaskinitializer:hover {
  background: rgba(9,30,66,.08);
  color: #172b4d  ;
} 

.newBoardBtn {
  padding: 6px 8px;
  min-width: 272px;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0, .5);
  border: none;
  outline: unset;
  border-radius: 3px;
  transition: 0.1s linear;
}

.newBoardBtn span {
  margin-right: 5px;  
}

.newBoardBtn:hover {
  background: rgba(0,0,0, .4);
}

@keyframes addBoardForm {
  0% {
    opacity: 1;
    clip-path: polygon(100% 0, 100% 56%, 0 56%, 0 0);
  }
  100% {
    right: -62%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.newBoardForm {
  min-width: 272px;
  padding: 4px;
  background: #ebecf0;
  border-radius: 4px;
  animation: addBoardForm 0.2s linear;
}

.newBoardFormInput {
  width: 100%;
  padding: 8px 12px;
  border: 2px solid #0079bf;
  border-radius: 4px;
  outline: unset;
  margin-bottom: 4px;
} 

.newBoardSubmitBtn {
  background: #0079bf;
  color: #fff;
  border: none;
  outline: unset;
  padding: 6px 12px;
  border-radius: 4px;
  margin-right: 4px;
}

.newBoardSubmitBtn:hover {
  background: #026aa7;
}

.newBoardCancelBtn {
  font-size: 24px;
  border: none;
  outline: unset;
  color: #42526e;
}

.newBoardFormBtns {
  display: flex;
  align-items: center;
}

.boardCopyHeader {
  min-width: 216px;
  margin: 0 12px;
  padding: 0 32px;
  text-align: center;
  margin-bottom: 5px;
  border-bottom: 1px solid #6b778c;
  position: relative;
  cursor: pointer;
}

.boardCopyHeaderTitle {
  line-height: 40px;
  color: #6b778c;

}


.boardCopyBackBtn, .boardCopyExitBtn {
  position: absolute;
  width: 16px;
  height: 16px;
  border: none;
  outline: unset;
  background: transparent;
  font-size: 14px;
  color: #6b778c;
  top: 50%;
  transform: translateY(-50%);
}

.boardCopyBackBtn:hover, .boardCopyExitBtn:hover {
  color: #42526e;
}


.boardCopyBackBtn {
  left: 5px;
}

.boardCopyExitBtn {
  right: 5px;
}

.boardCopyForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 12px 0 12px;
}

.boardCopyInput {
  width: 100%;
  height: 72px;
  background: #fafbfc;
  transition: .1s linear;
  resize: none;
  outline: unset;
  padding: 8px 12px;
}


.boardCopyInput::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
.boardCopyInput::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.boardCopyInput::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.boardCopyInput::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
.boardCopyInput::-webkit-scrollbar-thumb:active {
  background: #000000;
}
.boardCopyInput::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.boardCopyInput::-webkit-scrollbar-track:hover {
  background: #666666;
}
.boardCopyInput::-webkit-scrollbar-track:active {
  background: #333333;
}
.boardCopyInput::-webkit-scrollbar-corner {
  background: transparent;
}


.boardCopyInput:hover {
  background: #ebecf0;
}

.boardCopyInputLabel {
  font-size: 12px;
  margin: 4px 0;
}

.boardCopyBtn {
  margin-top: 15px;
  font-size: 14px;
  padding: 6px 24px;
  background: #0079bf;
  color: #fff;
  border: none;
  outline: unset;
  border-radius: 3px;
  transition: .2s linear;
  cursor: pointer;
}

.boardCopyBtn:hover {
  background: #026aa7;
}

.boardMoveWrap {
  width: 100%;
  padding: 12px 12px 0 12px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.boardMoveFolder, .boardMoveOrder {
  outline: unset;
  border: none;
  border-radius: 3px;
  background: #ebecf0;
  padding: 25px 8px 8px 8px;
  appearance: none;
  width: 100%;
  font-size: 15px;
}

.boardMoveFolder option, .boardMoveOrder option {
  font-size: 12px;
}

.boardMoveOrderWrap, .boardMoveFolderWrap {
  position: relative;
}

.boardMoveFolder:hover, .boardMoveOrder:hover {
  background: #e1e1e1;
}

.boardMoveSelectName {
  position: absolute;
  font-size: 12px;
  left: 8px;
  top: 8px;
}

.boardOptsSortHeader {
  margin: 0 12px;
  border-bottom: 1px solid #676767;
  margin-bottom: 10px;
  position: relative;
}

.boardOptsSortTitle {
  font-size: 14px;
  line-height: 40px;
  text-align: center;
}

.boardOptsSortBack, .boardOptsSortExit {
  position: absolute;
  top: 50%;
  border: none;
  outline: unset;
  background: transparent;
  color: #676767;
  transform: translateY(-50%);
  cursor: pointer;
}

.boardOptsSortExit {
  right: 16px;
}
.boardOptsSortBack:hover, .boardOptsSortExit:hover {
  color: #42526e;
}

.boardoptsSortBtnWrap {
  display: flex;
  flex-direction: column;
}

.boardoptsSortBtn {
  padding: 4px 12px;
  text-align-last: left;
  color: #172b4d;
  font-size: 14px;
  background: transparent;
  border: none;
  outline: unset;
}

.boardoptsSortBtn:hover {
  background: #ebecf0;
}