.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url('https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80') no-repeat center center;
  background-size: cover;
}

.header {
  border: 1px solid #000;
  height: 10rem;
}