*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  transition-duration: none;
}

ul{
  list-style-type: none;
}

body {
  width: 100vw;
  height: 100vh;
  background: #aaa;
  overflow: hidden;
}
button {
cursor: pointer;
}