.boardTaskInputWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 20;
}

.boardTaskInputBtn {
  padding: 8px 24px;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  border: none;
  outline: unset;
  border-radius: 3px;
}

.boardTaskCancelBtn {
  background: #f00;
}
.boardTaskSaveBtn {
  background: #0079bf;
}

.boardTaskInputBtnWrap {
  margin-top: 15px;
  display: flex;
  column-gap: 10px;  
}

.boardTaskInput {
  width: 288px;
  height: 100px;
  outline: unset;
  border: none;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  resize: none;
  padding: 5px;
}